GITHUB_OWNER=YOUR_GITHUB_USERNAME
GITHUB_REPO=find-free-products
GITHUB_BRANCH=main
GITHUB_DISPATCH_TOKEN=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
DASHBOARD_ADMIN_KEY=cec370f66538a283b59ac888fae5f78dfde74529e2c41e478

